<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Nav>
        <a href="/">About Us</a>
        <a href="/product">Products</a>
        <a href="/addprod">Add Product</a>
        <a href="/deleteprod">Delete Product</a>
        <a href="editprod">Edit Product</a>
    </Nav>
    <div>
        Toh chliye Suru krte hain shoping
    </div>
</body>
</html>